@import url('https://fonts.cdnfonts.com/css/waltograph');
body {
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url("../images/f6.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #111;
    letter-spacing: 1.5px;
    font-size: 1.3rem; 
}

.navbar {
    background-color: rgba(255, 255, 255, 0.12) !important;
}

.accordion,
.accordion-item,
.accordion-button {
  background-color: rgb(243, 232, 255) !important;
}
.accordion-button {
  color: blueviolet !important;
}
.accordion-body {
  color: blueviolet;
}

footer {
  background-color: transparent; 
  text-align: center;
  padding: 10px 0;
}

footer .page-link {
  color: rgb(31, 1, 59);
  background-color: transparent;
  border: 1px solid rgb(31, 1, 59);
}

footer .page-link:hover {
  background-color: rgb(243, 232, 255); 
  color: rgb(31, 1, 59);
}

.custom-card {
    background-color: #e6ccff;
    border: 1px solid #c8a2f0;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(180, 130, 255, 0.3);
  }

  .custom-card .card-title {
    color: #6a0dad;
  }

  .btn-light-purple {
    background-color: #c8a2f0;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
  }

  .btn-light-purple:hover {
    background-color: #b084f5;
  }

  .cards-container {
  display: flex;
  justify-content: center;
  align-items: center;   
  gap: 2rem;      
  flex-wrap: wrap; 
  margin-top: 2rem;
}

.custom-card {
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.layout {
    display: flex;    
    align-items: flex-start;
    }

.barra-lateral {
        width: 260px;
        background: #d5afff;
        color: rgb(0, 0, 0);
        padding: 20px;
        height: auto;
}

.contenido {
        flex: 1;
        padding: 40px;
        background: #eae0ff;
}

.tarjeta {
        background: white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.contenedor {
      text-align: center;
      margin-top: 50px;
    }
