@import url('https://fonts.cdnfonts.com/css/waltograph');
body {
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url("images/f6.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #111;
    font-family: 'Waltograph', sans-serif;
    letter-spacing: 2px;
    font-size: 1.3rem; 
}

h1, h2, h3 {
  font-family: 'Waltograph', sans-serif;
  letter-spacing: 2px;
}

p {
  font-family: 'Waltograph', sans-serif;
  letter-spacing: 2px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.12) !important;
}

.accordion,
.accordion-item,
.accordion-button {
  background-color: rgb(243, 232, 255) !important;
}
.accordion-button {
  color: blueviolet !important;
}
.accordion-body {
  color: blueviolet;
}

footer {
  background-color: transparent; /* Fondo transparente */
  text-align: center;
  padding: 10px 0;
}

footer .page-link {
  color: rgb(31, 1, 59); /* Color morado oscuro para los números */
  background-color: transparent; /* Fondo de los botones transparente */
  border: 1px solid rgb(31, 1, 59); /* Opcional: borde del mismo color */
}

footer .page-link:hover {
  background-color: rgb(243, 232, 255); /* Fondo al pasar el mouse, opcional */
  color: rgb(31, 1, 59);
}

.custom-card {
    background-color: #e6ccff; /* Morado clarito */
    border: 1px solid #c8a2f0;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(180, 130, 255, 0.3);
  }

  .custom-card .card-title {
    color: #6a0dad;
  }

  .btn-light-purple {
    background-color: #c8a2f0;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
  }

  .btn-light-purple:hover {
    background-color: #b084f5;
  }

  .cards-container {
  display: flex;
  justify-content: center;   /* Centra las cartas horizontalmente */
  align-items: center;       /* Centra verticalmente si hay altura */
  gap: 2rem;                 /* Espacio entre las cartas */
  flex-wrap: wrap;           /* Permite que se ajusten en pantallas pequeñas */
  margin-top: 2rem;
}

.custom-card {
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
